<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <description>networkboot</description>
  <filter>
    <display-name>AuthorizationFilter</display-name>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>de.rowekamp.networkboot.servlet.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <servlet-name>networkboot_frontend</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>networkboot_frontend</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>networkboot_frontend</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
    <url-pattern>/javax.faces.resource/*</url-pattern>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  <error-page>
	<error-code>404</error-code>
	<location>/error404.xhtml</location>
</error-page>
  <error-page>
  	<location>/error.xhtml</location>
  </error-page>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>BootsFaces_USETHEME</param-name>
    <param-value>true</param-value>
  </context-param>
  <mime-mapping>
  	<extension>woff2</extension>
  	<mime-type>application/font-woff2</mime-type>
  </mime-mapping>
  <listener>
    <listener-class>
        com.sun.faces.config.ConfigureListener
    </listener-class>
  </listener>
</web-app>